*{
    padding: 0px !important;
    margin: 0px !important;
}

#navbar{
    background-color: yellow;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#logo{
    height: 50px;
}
#login-form{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}